/* Title Section */
#title {
  background-image: url('https://images.unsplash.com/photo-1594845222889-c20e5b48fb53?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
}

#title-text {
  --bs-bg-opacity: 0.5;
}

/* Overflow Scrolling */
section.auto {
  overflow: auto;
  height: 500px;
}

/* Scrollbar Styling */
section.auto::-webkit-scrollbar {
  width: 12px;
}

section.auto::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 8px;
}

section.auto::-webkit-scrollbar-track {
  background-color: #333333;
}
